@import "../../.desk-env/theme/wallust/colors.css";

* {
    font-family: "HackNerdFont";
    font-weight: bold;
    font-size: 16px;
}

.control-center {
    background: alpha(@bg, 0.9);
    border: 1px solid @border;
    color: @text-muted;
    border-radius: 6px;
    margin: 3px 0px;
}

.widget-label label {
    font-size: 18px;
    color: @text-muted;
    padding: 0px 130px;
}

.widget-dnd {
    background: alpha(@bg-alt, 0.2);
    padding: 1px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    color: @fg;
}

.widget-dnd switch {
    margin: 5px 0px;
    border-radius: 15px;
    border: 1px solid @muted-border;
    background: @muted-fill;
}

.widget-dnd switch:hover {
    border: 1px solid @highlight-border;
}

.widget-dnd switch:checked {
    background: @fill;
}

.widget-dnd switch slider {
    background: @fg;
}

.widget-mpris {
    color: @fg;
    padding: 0px;
    margin: 2px 0px;
}

.widget-mpris-title {
    color: @fg;
    text-shadow: -2px 0 @bg, 0 2px @bg, 2px 0 @bg, 0 -2px @bg;
    font-size: 18px
}

.widget-mpris-subtitle {
    color: @text;
    font-size: 12px
}

.widget-mpris button {
    color: @fg;
    border: none;
    border-radius: 5px;
    -gtk-icon-shadow: -2px 0 @bg, 0 2px @bg, 2px 0 @bg, 0 -2px @bg;
}

.widget-mpris button:hover {
    color: @fg;
    background: alpha(@bg, 0.6);
    box-shadow: none;
}

.widget-mpris button:disabled {
    color: alpha(@text-muted, 0.4);
    border: none;
    -gtk-icon-shadow: none;
}

button {
    box-shadow: none;
    color: @fg;
    border: none;
    border-radius: 5px;
    -gtk-icon-shadow: -2px 0 @bg, 0 2px @bg, 2px 0 @bg, 0 -2px @bg;
}

button:hover {
    color: @fg;
    background: alpha(@bg, 0.6);
    box-shadow: none;
}

button:disabled {
    color: alpha(@text-muted, 0.4);
    border: none;
    -gtk-icon-shadow: none;
}

.widget-volume button {
    padding: 0 5px;
}

.widget-backlight,
.widget-volume {
    color: @fg;
    font-size: 24px;
    background: alpha(@bg-alt, 0.2);
    margin: 0px 10px;
    padding: 3px 5px;
}

.widget-volume {
    border-radius: 10px 10px 0px 0px;
}

.widget-backlight {
    border-radius: 0px 0px 10px 10px;
}

.widget-backlight label,
.widget-volume label {
    color: @fg-alt;
    font-size: 28px;
    padding: 0px 3px;
}

scale trough highlight {
    border: none;
    background: @fill;
}

scale slider {
    background: @fg;
    border: 1px solid @bg-alt;
}

.per-app-volume {
    padding: 0px 20px;
}

.per-app-volume label {
    font-size: 12px;
}

.widget-title label {
    color: @text-muted;
    font-weight: bold;
    margin: 0px 5px;
}

.notification-group button,
.widget-title button {
    border: 1px solid @muted-border;
    padding: 2px 5px;
    background: alpha(@bg-alt, 0.3);
}

.notification-group button:hover,
.widget-title button:hover {
    border: 1px solid @fg;
    background: @bg;
}

.widget-title button label {
    color: @fg;
}

.notification {
	  border-radius: 5px;
    border: 1px solid @fg;
    padding: 2px 5px;
    background: @bg;
    color: @fg;
}

.notification-row button.close-button {
    border: 1px solid transparent;
    background: transparent;
    margin: 3px;
    padding: 3px;
    min-width: 12px;
    min-height: 12px;
}

.notification-row button.close-button:hover {
    border: 1px solid @fg;
    border-radius: 50px;
}

.notification-default-action:hover {
    background: transparent;
}

.notification image {
  min-width: 24px;
  margin-right: 10px;
  border-radius: 0px;
}
