@import "../../.themes/wallust/colors.css";

@define-color text @color5;
@define-color highlight @color1;
@define-color highlight-bg @color8;
@define-color unselected @color3;
@define-color border @color2;
/*@define-color active @color1;*/
/*@define-color muted @color8;*/
@define-color bg @background;  /* background color */
@define-color fg @foreground;  /* foreground color */

/*@define-color contrast1 @color1;*/
/*@define-color contrast2 @color4;*/

/*default styles*/
* {
	min-height: 0;
	margin: 0;
	padding: 0;

  /* TODO: Consider another font */
  font-family: "HackNerdFont";
  font-weight: bold;
  font-size: 13px;
}

/*bar styles*/

window#waybar {
  background: transparent;
	background-image: linear-gradient(to bottom, @bg, transparent);
}

/*default modules styles*/

.modules-left .module, .modules-right .module {
    background: alpha(@bg, 0.8);
    border-radius: 0px 0px 10px 10px;
    margin: 0px 1px;
    color: @text;
    padding: 1px 6px 3px 6px;
    border: solid @border;
    border-width: 0px 1px 1px 1px
}

.modules-center {
    background: transparent;
}

/*module specific styles*/

#workspaces button {
    color: @unselected;
    box-shadow: none;
    text-shadow: none;
    border-radius: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: @highlight;
    border: solid 1px @highlight;
    background: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color: @highlight;
    background-color: alpha(@highlight-bg, 0.3); 
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#window {
    text-shadow: -1px 0 @bg, 0 1px @bg, 1px 0 @bg, 0 -1px @bg; /* text outline */
    color: @fg; 
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @bg;
  color: @highlight;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}
