@import "../../.desk-env/theme/wallust/colors.css";

/*default styles*/
* {
	min-height: 0;
	margin: 0;
	padding: 0;

  /* TODO: Consider another font */
  font-family: "HackNerdFont";
  font-weight: bold;
  font-size: 13px;
}

/*bar styles*/

window#waybar {
  background: transparent;
	background-image: linear-gradient(to bottom, @bg, transparent);
}

/*default modules styles*/

.module,
.module
{
    background: alpha(@bg, 0.8);
    border-radius: 0px 0px 10px 10px;
    margin: 0px 1px;
    color: @text;
    padding: 1px 6px 3px 6px;
    border: solid @border;
    border-width: 0px 1px 1px 1px
}

.modules-center {
    background: transparent;
}

/*module specific styles*/

#workspaces button,
#taskbar button
{
    color: @text-muted;
    box-shadow: none;
    text-shadow: none;
    border-radius: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button
{
    margin: 1px 0px;
    padding: 0px 4px 1px 8px;
}

#taskbar button:hover,
#workspaces button:hover
{
    color: @text;
    border: solid 1px @highlight-border;
    background: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active
{
    color: @fg-alt;
    background-color: alpha(@bg-alt, 0.3); 
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active
{
    padding: 0px 4px 1px 4px;
    background: alpha(@bg-alt, 0.3); 
    border-bottom: 1px solid @fg-alt;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button label
{
    font-size: 0px;
    padding: 0;
    margin: 0;
    color: transparent;
}
#taskbar button.active label
{
    font-size: 13px;
    color: @fg-alt;
}

#taskbar.empty
{
  background: transparent;
  outline-color: transparent;
  border-color: transparent;
  color: transparent;
  box-shadow: none;
}

#window {
    text-shadow: -1px 0 @bg, 0 1px @bg, 1px 0 @bg, 0 -1px @bg; /* text outline */
    color: @fg-alt;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @bg;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

