@import url(".desk-env/theme/wallust/colors.css");

window {
    font-size: 24px;
    margin: 5px;
    border: 1px solid @border;
    border-radius: 5px;
    background-color: alpha(@bg, 0.9);
}

#input {
    margin: 5px;
    border: none;
    background-color: mix(@bg, @bg-alt, 0.3);
    color: @fg;
    font-size: 20px;
    text-shadow: -1px 0 @bg, 0 1px @bg, 1px 0 @bg, 0 -1px @bg; /* text outline */
}

image {
    margin: 1px 10px 1px 4px;
}

#entry {
    margin: 0px 5px;
}

#entry:selected {
    border-radius: 5px;
    background-color: alpha(@bg-alt, 0.4);
}

#text {
    color: mix(@text, @bg, 0.3);
}

#text:selected {
    color: @fg;
}
